<section class="elections">

</section>

<script type="text/x-handlebars-template" id="election-list-template">
  \{{#if elections }}
    <h3 class="title">Active Elections On <span class="date"></span></h3>
    <div class="election-list">
  \{{/if}}
  \{{#each elections}}
    <div id="election-\{{id}}" class="\{{status}}">
      <div class="title \{{status}}">
        <span class="error hidden">You already voted this one! Calculating result...</span>
        <span>\{{title}}</span>
        <span class="\{{status}}"></span>
      </div>
    </div>
  \{{/each}}
  \{{#if elections }}
    </div>
  \{{/if}}
</script>